.create-entry-form {
    width: 50%;
}
.create-entry-button {
    background: #3f1abb;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 10px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 50%;
}
.notes-textbox {
    width: 50%
}
.create-title{

}
.create-title span {
    
}